PORT=5000
DB_CLIENT=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kinerja_pegawai_bps
CLIENT_URL=http://localhost:5173
AUTH_SECRET=ganti-dengan-secret-random-yang-panjang-dan-sulit-ditebak
